[Desktop Entry]
Name=
Comment=
Type=AkonadiResource
Exec=akonadi_plainnotes_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_plainnotes_resource
